<style>
    .linkList{
        overflow: hidden;
    }
    .linkList li{
        margin: 0px 10px;
        float:left;
        list-style: none;
    }
</style>
<ul class="linkList">
    <li><a routerLink = "/index">index</a></li>
    <li><a routerLink = "/sub02">sub02</a></li>
    <li><a routerLink = "/sub03">sub03</a></li>
    <li><a routerLink = "/sub04">sub04</a></li>
    <li><a routerLink = "/sub05">sub05</a></li>
    <li><a routerLink = "/sub06">sub06</a></li>
    <li><a routerLink = "/cycle01">cycle01</a></li>
</ul>
<router-outlet></router-outlet>
