<p>{{todayUTC}}</p>
<p>{{todayDateObject}}</p>
<p>{{todayISO}}</p>
<p>{{todayUTC | date}}</p>
<p>{{todayDateObject | date}}</p>
<p>{{todayISO | date}}</p>
<p>##################################################################</p>
<p>{{today | date:'y년 M월 d일'}}</p>
<p>{{today | date:'y년 M월 d일 h시 m분 s초'}}</p>
<p>{{today | date:'yy년 MM월 dd일'}}</p>
<p>{{today | date:'yy년 MM월 dd일 HH시 mm분 ss초'}}</p>
<p>{{childrensDay | date:'yy년 MM월 dd일'}}</p>
<p>{{liberationDay | date:'y-MM-dd'}}</p>
<p>##################################################################</p>
<p>{{today | date:'fullDate'}}</p>
<p>{{today | date:'longDate'}}</p>
<p>{{today | date:'medium'}}</p>
<p>{{today | date:'mediumdate'}}</p>
<p>{{today | date:'mediumTime'}}</p>
<p>{{today | date:'short'}}</p>
<p>{{today | date:'shortDate'}}</p>
<p>{{today | date:'shortTime'}}</p>
